<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>

  <main class="mdl-layout__content">
    <div class="page-content">

      <div class="mdl-grid">

        <ul>
          <li *ngFor="let email of emailList">
            <span>To: </span>{{email.to}}
            <span>Subject: </span>{{email.subject}}
            <span>Content: </span>{{email.content}}
            <span>Created at: </span>{{email.creation_date}}
          </li>
        </ul>

        <!-- Floating Multiline Textfield -->
        <button class="globalFab tooltip btn mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
          role="tooltip" aria-label="New Email" (click)="toggleNewEmailFormOpen()">
          <span class="material-icons">add</span>
        </button>

        <!-- newEmail--active -->
        <form #newMailForm="ngForm" (ngSubmit)="handleNewEmail(newMailForm)" class="newEmail cmailForm" [ngClass]="{ 'newEmail--active': isNewEmailFormOpen }">
          <div class="newEmail__card demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="newEmail__titleArea mdl-card__title">
              <h2 class="newEmail__title mdl-card__title-text">New Mail</h2>
            </div>
            <div class="newEmail__body mdl-card__supporting-text">
              <!-- Form Fields -->
              <!-- [Para] -->
              <div class="cmailInputForm">
                <div class="mdl-textfield mdl-textfield--floating-label" [ngClass]="{ 'is-invalid': emailTo.invalid && emailTo.touched }">
                  <input #emailTo="ngModel" [(ngModel)]="email.to" required type="email" name="para" id="para" placeholder=" " class="mdl-textfield__input">
                  <span class="mdl-textfield__error">Insert an Email!</span>
                  <label class="mdl-textfield__label" for="para">To: </label>
                  <span class="mdl-textfield__formline"></span>
                </div>
              </div><!-- ./[Para] -->

              <!-- [Assunto] -->
              <div class="cmailInputForm">
                <div class="mdl-textfield mdl-textfield--floating-label" [ngClass]="{ 'is-invalid': emailSubject.invalid && emailSubject.touched }">
                  <input #emailSubject="ngModel" [(ngModel)]="email.subject" required type="text" name="assunto" id="assunto" placeholder=" " class="mdl-textfield__input">
                  <span class="mdl-textfield__error">A subject is requried!</span>
                  <label class="mdl-textfield__label" for="assunto">Subject: </label>
                  <span class="mdl-textfield__formline"></span>
                </div>
              </div><!-- ./[Assunto] -->

              <!-- [Conteúdo] -->
              <div class="cmailInputForm">
                <div class="mdl-textfield mdl-textfield--floating-label">
                  <textarea #emailContent="ngModel" [(ngModel)]="email.content" name="conteudo" id="conteudo" placeholder=" " class="mdl-textfield__input"></textarea>
                  <span class="mdl-textfield__error">A content is required!</span>
                  <label class="mdl-textfield__label" for="conteudo">Content: </label>
                  <span class="mdl-textfield__formline"></span>
                </div>
              </div><!-- ./[Conteúdo] -->

              <!-- ./Form Fields -->
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <button class="mdl-button" [disabled]="newMailForm.invalid">
                Send
              </button>
            </div>
            <div class="newEmail__topMenu mdl-card__menu">
              <button type="button" class="mdl-button mdl-button--icon" (click)="toggleNewEmailFormOpen()">
                <span class="material-icons">close</span>
              </button>
            </div>
          </div>
        </form>
      </div>     

    </div>
  </main>
</div>