<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <form>

          <cmail-form-group idField="user-full-name" labelField="Full Name">
            <input required type="text" name="user-full-name" cmailFormField>
            <span class="mdl-textfield__error">Inform your full Name!</span>
          </cmail-form-group>

          <cmail-form-group idField="user-username" labelField="Username">
            <input required type="text" name="user-username" cmailFormField>
            <span class="mdl-textfield__error">Inform an userid</span>
          </cmail-form-group>

          <cmail-form-group idField="user-password" labelField="Password">
            <input required type="password" name="user-password" cmailFormField>
            <span class="mdl-textfield__error">Insert a password!</span>
          </cmail-form-group>

          <cmail-form-group idField="user-avatar" labelField="Avatar">
            <input required type="text" name="user-avatar" cmailFormField>
            <span class="mdl-textfield__error">Inform an avatar!</span>
          </cmail-form-group>

          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Signup
            </button>
          </div>

        </form>
      </div>
    </div>
  </main>
</div>