<div class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <article class="demo-card-wide mdl-card mdl-shadow--2dp">
        <header class="mdl-card__title">
          <h1 class="mdl-card__title-text">Welcome to CMail!</h1>
        </header>
  
        <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm)" class="cmailForm" autocomplete="off" class="mdl-card__supporting-text">
  
          <section *ngIf="errorMessage" class="mdl-textfield is-invalid">
            <p class="mdl-textfield__error">
              {{errorMessage}}
            </p>
          </section>
          
          <cmail-form-group [elementControl]="userIdForm" idField="userId" labelField="Username" >
            <input #userIdForm="ngModel" [(ngModel)]="userId" type="text" name="userId" cmailFormField required autofocus>
            <span class="mdl-textfield__error" *ngIf="userIdForm.invalid">
              Provived a valid email!
            </span>
          </cmail-form-group>
      
          <cmail-form-group [elementControl]="passwordForm" idField="password" labelField="Password">
            <input #passwordForm="ngModel" [(ngModel)]="password" type="password" name="password" cmailFormField required>
            <span class="mdl-textfield__error" *ngIf="passwordForm.invalid">
              Type a password
            </span>
          </cmail-form-group>
  
          <div class="mdl-card__actions mdl-card--border">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
                Login
            </button>
            <a routerLink="register" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              First Access? Sign Up Here
            </a>    
          </div>
        </form>

      </article>
    </div>
  </div>
  </main>
  </div>